:root {
  --color-vivid-white: #f4f4f4;
  --color-light-gray: #cccccc;
  --color-dark-gray: #555555;
  --color-blue: #0074e9;
  --color-red: #e52528;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

:focus {
  outline: none;
  box-shadow: 0 0 1px 2px var(--color-blue) !important;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  margin-bottom: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-input {
  width: 576px;
  display: flex;
  flex-direction: column;
}
.login-input .text-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.login-input .text-wrapper .input-icon {
  top: 1px;
  left: 1px;
  width: 43px;
  height: 48px;
  background-color: white;
  border-right: 1px solid var(--color-light-gray);
  display: inline-block;
  position: absolute;
}

.login-input .text-wrapper .input-icon {
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-input .text-wrapper input {
  background-color: none;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding: 14px;
  padding-left: 59px;
  border: none;
}

.login-input .text-wrapper input:focus + .invalid {
  display: none !important;
}

.login-input .text-wrapper input:focus {
  border: 1px solid var(--color-light-gray) !important;
}

.login-input .text-wrapper input:required + .invalid {
  display: none;
}

.login-input .text-wrapper input:valid {
  border: 1px solid var(--color-light-gray);
}

.login-input .text-wrapper input:invalid {
  border: var(--color-red) solid 1px;
}

.login-input .text-wrapper input:invalid + .invalid {
  display: block;
}

.login-input .text-wrapper .invalid {
  color: var(--color-red);
  padding: 6px 0 6px 12px;
}

.login-input .login-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.login-input .login-options a {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  font-size: 16px;
  color: var(--color-blue);
  text-decoration: none;
}

.login-input .login-options a::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: solid 2px var(--color-blue);
  border-right: solid 2px var(--color-blue);
  transform: rotate(45deg);
}

.checkbox-wrapper {
  padding-left: 38px;
  /* height: 50px; */
  display: block;
  position: relative;
  color: var(--color-dark-gray);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper input[type='checkbox'] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.checkbox-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: var(--color-vivid-white);
  border: solid 1px var(--color-light-gray);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.checkbox-wrapper:active .checkmark {
  background-color: var(--color-light-gray);
}

.checkbox-wrapper input:focus + .checkmark {
  box-shadow: 0 0 1px 2px var(--color-blue);
}

.checkbox-wrapper .checkmark::before {
  content: '';
  display: none;
  position: absolute;
  top: 6px;
  left: 5px;
  width: 12px;
  height: 6px;
  border-bottom: var(--color-blue) solid 2px;
  border-left: var(--color-blue) solid 2px;
  transform: rotate(-45deg);
}

.checkbox-wrapper input:checked {
  margin-bottom: 200px;
}

.checkbox-wrapper input:checked ~ .checkmark::before {
  display: block;
}

/* .checkbox-wrapper .checkmark::after {
  position: absolute;
  content: '개인 정보 보호를 위해 본인 기기에서만 이용해주세요';
  width: 400px;
  top: 20px;
  display: block;
} */

.checkbox-wrapper input:checked ~ .checkmark::after {
  display: block;
}

.checkbox-wrapper .info-box {
  display: none;
  position: absolute;
  width: 262px;
  left: 0;
  top: 36px;
  background-color: var(--color-vivid-white);
  padding: 7px 6px;
  font-size: 12px;
}

.checkbox-wrapper .info-box::after {
  top: -4px;
  content: '';
  position: absolute;
  display: block;
  background-color: var(--color-vivid-white);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.checkbox-wrapper input:checked ~ .info-box {
  display: block;
}

.login-button {
  display: flex;
  flex-direction: column;
}

.login-button input {
  display: block;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 66px;
  cursor: pointer;
}

.login-button input[type='submit'] {
  color: white;
  background-color: var(--color-blue);
}

.login-button input[type='button'] {
  color: var(--color-blue);
  background-color: white;
}

hr {
  margin: 22px 0;
  width: 100%;
  border-top: 0;
  border-bottom: 1px solid var(--color-light-gray);
}

.copyright {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-gray);
}
